# ========================
# MAVEN / BUILD
# ========================
target/
*.log

# Permitir wrapper
!.mvn/wrapper/maven-wrapper.jar

# ========================
# JAVA
# ========================
*.class
*.jar

# ========================
# EJECUTABLES
# ========================
*.exe

# ========================
# PLAYWRIGHT
# ========================
.cache/
ms-playwright/

# ========================
# EVIDENCIAS AUTOMATIZACIÓN
# ========================
evidencias/
videos/
screenshots/
*.webm
*.png
*.jpg

# ========================
# INTELLIJ
# ========================
.idea/
*.iml
*.iws
*.ipr

# ========================
# VS CODE
# ========================
.vscode/

# ========================
# OTROS IDE
# ========================
.classpath
.project
.settings/

# ========================
# SISTEMA
# ========================
.DS_Store
Thumbs.db

# ========================
# TEMPORALES
# ========================
tmp/
temp/